h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  margin: 15px 0;
}

.ul-list {
  list-style: none;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid black;
}

.delete {
  margin-right: 51px;
}

.ul-list li {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: rgb(34, 17, 5);
  margin: 8px 0;
}

#none {
  display: none;
}
